footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;

  a {
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    @include unordered-list-base();

    li {
      margin: 0 20px;
    }
  }
}
