<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mozilla Developer ~ MDN Fiori</title>
    <link rel="stylesheet" href="../css/lib/reset.css" media="screen" />
    <link rel="stylesheet" href="../css/mdn-fiori.css" media="screen" />
</head>

<body>
    <header class="page-header">
        <a href="/">
            <h1 class="logo">
                <span>MDN Web Docs</span>
            </h1>
        </a>
    </header>
    <nav class="sidebar">
        <ul>
            <li>
                <a href="modal.html">Modal</a>
            </li>
            <li>
                <a href="featured-banner.html">Featured Banner</a>
            </li>
        </ul>
    </nav>
    <main>
        <h1>MDN Fiori</h1>

        <section>
            <header>
                <h2>Featured Banner</h2>
            </header>
            <p>The MDN Web Docs website has a featured banner area that is often utilised by various parts of Mozilla to
                highlight new featured that are of interest to web developers.</p>
            <p>As such, the content and design for this is provided by external contributors. In order to:</p>

            <ol>
                <li>Increase efficiency when working with these contributors and,</li>
                <li>Make is possible for any team member to pick up these requests</li>
            </ol>

            <p>This page documents the constraints we have with regards to the design of the banner, as well as the
                process of updating the featured banner.</p>

            <h3>Example</h3>
            <p>The featured banner responds to 3 main breakpoints as shown below.</p>

            <h4>Desktop</h4>
            <figure class="example-screenshot">
                <img src="../media/components/featured-banner/desktop.png" width="448" alt="" />
                <figcaption class="visually-hidden">Screenshot of a featured banner at desktop viewport size
                </figcaption>
            </figure>

            <h4>Tablet</h4>
            <figure class="example-screenshot">
                <img src="../media/components/featured-banner/tablet.png" width="236" alt="" />
                <figcaption class="visually-hidden">Screenshot of a featured banner at tablet viewport size
                </figcaption>
            </figure>

            <h4>Mobile Phone</h4>
            <figure class="example-screenshot">
                <img src="../media/components/featured-banner/mobile.png" width="353" alt="" />
                <figcaption class="visually-hidden">Screenshot of a featured banner at mobile phone viewport size
                </figcaption>
            </figure>
        </section>

        <section>
            <header>
                <h2>Usage</h2>
            </header>
            <figure class="example-screenshot">
                <img src="../media/components/featured-banner/desktop-in-ctx.png" width="707" alt="" />
                <figcaption class="visually-hidden">Screenshot of a featured banner in page context
                </figcaption>
            </figure>
            <p>Modals should be used when a user initiates a specific task that can be started and completed within the
                context of the modal.</p>
            <p>The content of a modal should be focused, clear and concise.</p>
        </section>

        <section>
            <header>
                <h2>Implementation</h2>
            </header>
            <p>The MDN Web Docs codebase contains the core code for a modal. Below are the steps you should follow when
                implementing a new modal.</p>

            <table>
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jinja</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>React</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>

            <h3>The Bundles</h3>
            <p>The core of a modal consists of semantic HTML, Sass as well as JavaScript.</p>

            <h3>The Structure</h3>
            <p>Modals are currently implemented using Jinja. For this we have a base
                template you will extend when implementing your modal.</p>
            <p>To demonstrate the process, we will walk through creating a new authentication modal.</p>
            <p>As this will be used on all pages of the site, we will create our HTML file(<code>auth-modal.html</code>)
                inside <code>jinja2/includes</code>.</p>
            <p>Once you have created the new HTML file, the very first thing is to extend the base modal template:</p>
            <pre class="code-block"><code>
{% extend "includes/modal.html" %}
            </code></pre>
            <p>This adds the overall HTML structure for our modal. Before we add the main body of the modal, there
                are a couple of variables we need to set.</p>
            <pre class="code-block"><code>
{% set modal_id = "auth-modal" %}
{% set modal_content_class = "auth-providers" %}
{% set modal_title = _('Sign In') %}
            </code></pre>
            <p>To provide a hook for our JavaScript we give the modal a unique <code>id</code> via
                <code>modal_id</code>. To add some custom
                styling to our modal we also give it it’s own <code>class</code> via <code>modal_content_class</code>.
                Finally, we set the main title of our modal via <code>modal_title</code></p>
            <p>The body of the modal is added inside the <code>modal_content</code> block:</p>
            <pre class="code-block"><code>
{% block modal_content %}
...
{% endblock %}
            </code></pre>
            <p>While the body of the modal can contain anything, you should always keep in mind that a modal should be
                task specific. We should therefore keep content to the minimum. Continuing with the Auth modal as an
                example, the content would look as follows:</p>
            <pre class="code-block"><code>
{% block modal_content %}
&lt;p>
    {{ _('Sign in to enjoy the benefits of an MDN account.') }}
&lt;/p>
&lt;div class="auth-button-container">
    &lt;a href="{{ provider_login_url('github') }}" class="github-auth" data-first-focusable="true">
        {{ _('Sign in with Github') }}
    &lt;/a>
    &lt;a href="{{ provider_login_url('github') }}" class="google-auth">
        {{ _('Sign in with Google') }}
    &lt;/a>
&lt;/div>
{% endblock %}
            </code></pre>
            <p>With the structure in place, we can move on to the styling and interactivity.</p>
            <h3>Style and Interactivity</h3>
            <p>All relevant styling is provided by <code>modal.scss</code> and can be added to your main Sass file with
                the following import</p>
            <p><code>@import '../components/modal.scss';</code></p>
            <p>The JavaScript that drives all interaction is provided by <code>modal.js</code>. Here the configuration
                of the final bundle is done via a pipeline entry in <code>common.py</code></p>
            <p>For example, we can create a JavaScript bundle for the auth modal as follows:
            </p>
            <pre class="code-block"><code>
'auth-modal': {
  'source_filenames': (
    'js/components/modal.js',
    'js/components/user-signup/auth-modal.js',
  ),
  'output_filename': 'build/js/auth-modal.js',
  'extra_context': {
    'async': True,
  },
},
            </code></pre>
            <p>With the above in place you can add the JavaScript bundle to the relevant template as follows:</p>
            <p><code>{% javascript 'auth-modal' %}</code></p>
            <p>All that remains is to add the custom CSS and JavaScript your modal will require.</p>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="https://developer.mozilla.org/">MDN Web Docs</a></li>
            <li><a href="https://github.com/schalkneethling/mdn-minimalist">mdn-minimalist</a></li>
            <li><a href="https://github.com/schalkneethling/mdn-storybook">mdn-storybook</a></li>
            <li><a href="https://github.com/schalkneethling/mdn-dinocons">mdn-dinocons</a></li>
        </ul>
    </footer>
</body>

</html>


@import '../../../includes/_vars.scss';
@import '../../../includes/_mixins.scss';

/*
Fx-dev callout
-------------------------------------------------------------- */

.callout-featured {
box-sizing: border-box;
background: #fff url('../../../../img/embed/promos/grid-tools-bg.svg') 0 100% no-repeat;
background-size: contain;
border: 1px solid #999;
box-shadow: 2px 2px 5px #edecec, -2px -1px 5px #edecec;

span {
position: relative;
padding: 0;
}

a {
padding: $gutter-width;
min-height: 150px;

@media #{$mq-small-desktop-and-up} {
padding: 10px $gutter-width;
}

@media #{$mq-tablet-only} {
padding: 18px $gutter-width;
min-height: 130px;
}

&:hover,
&:visited,
&:focus,
&:active {
text-decoration: none;
}
}

.main-copy {
margin-left: 5px;
margin-bottom: 12px;
@include set-font-size(2rem);
line-height: 1.2;

@media #{$mq-small-desktop-and-up} {
@include set-font-size(1.7rem);
}

@media #{$mq-tablet-only} {
@include set-font-size(1.5rem);
}
}

.callout-subtext {
display: block;
margin-top: 12px;
font-weight: normal;
}

button {
padding: 5px 15px 3px;
border-radius: 3rem;
border: 2px solid #73a8c0;
min-width: 170px;

&:before {
content: '';
display: inline-block;
background: transparent url('../../../../img/embed/promos/fx-dev-logo.png') 0 0 no-repeat;
background-size: 32px 33px;
@include bidi(((margin-right, 5px, margin-left, 5px),));
width: 36px;
height: 36px;
vertical-align: middle;
}
}
}
