.example-screenshot {
  border: 5px solid #edecec;
  width: 500px;
  width: max-content;
  box-shadow: 5px 5px 5px #25374047;

  &::before {
    @include gradient-border();
    margin-bottom: 0;
  }

  figcaption {
    @include visually-hidden();
  }
}
