.logo {
  background: transparent url("../../media/logo/web-docs-sprite.svg") 0 0
    no-repeat;
  background-size: 250px 100px;
  width: 250px;
  height: 100px;

  span {
    @include visually-hidden();
  }
}
