table {
  margin: ($base-margin * 2) 0;
  border-collapse: collapse;
  border: 1px solid #333;
  width: 80%;

  th,
  td {
    padding: ($base-padding / 2) $base-padding;
    text-align: left;
  }

  thead {
    background-color: #333;
    color: #fff;
  }

  tbody {
    tr:nth-child(even) td {
      background-color: #edecec;
    }
  }
}
