.color-palette {
  display: flex;
  justify-content: space-around;
}

.color-palette,
.color-palette ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color-palette .swatch {
  width: 100px;
}

/* 
Color Palette
------- */
svg {
  --red: #e66465;
  --red-light: #ffe7e8;
  --red-dark: #5d3739;
  --orange: #f69d3c;
  --orange-light: #ffe8d4;
  --orange-dark: #332206;
  --yellow: #f6b73c;
  --yellow-light: #fff3d4;
  --yellow-dark: #332807;
  --green: #4d9f0c;
  --green-light: #ebf8e1;
  --green-dark: #162300;
  --blue: #3d7e9a;
  --blue-light: #e4f0f5;
  --blue-dark: #001d33;
  --purple: #9198e5;
  --purple-light: #d7d9f2;
  --purple-dark: #303253;
  --grey: #696969;
  --grey-light: #eee;
  --grey-dark: #151515;
}

.red {
  fill: var(--red);
}

.red-light {
  fill: var(--red-light);
}

.red-dark {
  fill: var(--red-dark);
}

.orange {
  fill: var(--orange);
}

.orange-light {
  fill: var(--orange-light);
}

.orange-dark {
  fill: var(--orange-dark);
}

.yellow {
  fill: var(--yellow);
}

.yellow-light {
  fill: var(--yellow-light);
}

.yellow-dark {
  fill: var(--yellow-dark);
}

.green {
  fill: var(--green);
}

.green-light {
  fill: var(--green-light);
}

.green-dark {
  fill: var(--green-dark);
}

.blue {
  fill: var(--blue);
}

.blue-light {
  fill: var(--blue-light);
}

.blue-dark {
  fill: var(--blue-dark);
}

.purple {
  fill: var(--purple);
}

.purple-light {
  fill: var(--purple-light);
}

.purple-dark {
  fill: var(--purple-dark);
}

.grey {
  fill: var(--grey);
}

.grey-light {
  fill: var(--grey-light);
}

.grey-dark {
  fill: var(--grey-dark);
}
