/* MDN SCHEME
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN GENERAL
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* TODO */
/* MDN STATES
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN TOC WIKI
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN EXAMPLES SYNTAX
kuma/static/styles/components/syntax/example.scss
--------------------------------------------------
*/
/* MDN PROMOTE
kuma/static/styles/promote.scss
--------------------------------------------------
*/
/* MDN CONTENT
kuma/static/styles/components/content.scss
This table style is also defined in 
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN TAGS
kuma/static/styles/components/tags.scss
--------------------------------------------------
*/
/* MDN FORMS
kuma/static/styles/includes/_vars.scss
--------------------------------------------------
*/
/* MDN USERS
kuma/static/styles/components/users/_vars.scss
--------------------------------------------------
*/
/* MDN BANNERS
kuma/static/styles/components/banners/_vars.scss
--------------------------------------------------
*/
/* MDN PAYMENTS
kuma/static/styles/components/payments/_vars.scss
--------------------------------------------------
*/
/* MDN BCD
Not using site default colours, to increase difference
between colours for colour blind users
kuma/static/styles/components/compat-tables/_vars.scss
--------------------------------------------------
*/
/* MDN MAIN-NAV
kuma/static/styles/components/structure/page-header/_vars_nav.scss
-------------------------------------------------------------------
*/
.color-palette {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none; }
  .color-palette ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .color-palette li {
    flex-basis: 20%; }

.swatch {
  border: 5px solid #eee;
  width: 100px;
  height: 100px; }
  .swatch.brand-primary {
    background-color: #015fdf; }
  .swatch.brand-red {
    background-color: #d65752; }
  .swatch.brand-green {
    background-color: #4d9f0c; }
  .swatch.brand-grey {
    background-color: #aeb7c2; }
  .swatch.blue-grey {
    background-color: #dce3e5; }
  .swatch.light-blue-grey {
    background-color: #a1b4ce; }
  .swatch.light-grey {
    background-color: #fdfdfd; }
  .swatch.link-color {
    background-color: #3d7e9a; }
  .swatch.border-color {
    background-color: #585858; }
