/* Used mostly as the basis for paragraphs to contain
   paragraph content to a common readable line length */
/* Hide an element visually, but not from screen readers */
.page-header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

body {
  background-color: #fff;
  color: #333;
  font: 18px sans-serif;
  line-height: 1.7;
  display: grid;
  grid-template-columns: 12em 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "nav main" "footer footer"; }

@font-face {
  font-family: zillaslab;
  font-display: swap;
  src: url("../../media/typography/ZillaSlab-Bold.subset.woff2") format("woff2"), url("../../media/typography/ZillaSlab-Bold.subset.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

h1,
h2,
h3 {
  font-family: zillaslab; }

/* Based on a modular scale: https://www.modularscale.com/?18&px&1.5 */
h1 {
  font-size: 5.063rem; }

h2 {
  font-size: 3.375rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5rem; }

p {
  margin-bottom: 1.2rem;
  max-width: 80ch; }

p,
ul {
  font-size: 18px; }

a:link, a:visited {
  color: #015fdf;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

table {
  margin: 40px 0;
  border-collapse: collapse;
  border: 1px solid #333;
  width: 80%; }
  table th,
  table td {
    padding: 10px 20px;
    text-align: left; }
  table thead {
    background-color: #333;
    color: #fff; }
  table tbody tr:nth-child(even) td {
    background-color: #edecec; }

.example-screenshot {
  border: 5px solid #edecec;
  width: 500px;
  width: max-content;
  box-shadow: 5px 5px 5px #25374047; }
  .example-screenshot::before {
    display: block;
    content: "";
    background-image: linear-gradient(-271deg, #3794bc, #7556ce);
    margin-bottom: 20px;
    height: 5px;
    margin-bottom: 0; }
  .example-screenshot figcaption {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    /* !important required to ensure element is hidden when mixin is applied */
    position: absolute !important;
    /* stylelint-disable-line declaration-no-important */
    width: 1px; }

.page-header::before {
  display: block;
  content: "";
  background-image: linear-gradient(-271deg, #3794bc, #7556ce);
  margin-bottom: 20px;
  height: 5px; }

.page-header .logo {
  background: transparent url("../../media/logo/web-docs-sprite.svg") 0 0 no-repeat;
  background-size: 250px 100px;
  width: 250px;
  height: 100px; }
  .page-header .logo span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    /* !important required to ensure element is hidden when mixin is applied */
    position: absolute !important;
    /* stylelint-disable-line declaration-no-important */
    width: 1px; }

.sidebar {
  padding: 40px; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left; }

code,
.code-block {
  background-color: #edecec; }

.code-block {
  display: block;
  padding: 20px;
  border-left: 5px solid #015fdf;
  max-width: 80%;
  overflow: scroll; }

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0; }
  footer a:link, footer a:visited {
    color: #fff;
    text-decoration: none; }
  footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left; }
    footer ul li {
      margin: 0 20px; }
